<!DOCTYPE html>
<html lang="pt-br">

<head>

    <% include ../includes/headerPainel.ejs %>

    <!-- Title Page-->
    <title>Administradores</title>

</head>

<body class="animsition">
    <!-- PAGE WRAPPER -->
    <div class="page-wrapper">
        
        <% include ../includes/headerMenus.ejs %>

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <!-- MAIN CONTENT-->
            <section class="main-content">

                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="table-data__tool">
                            <div class="table-data__tool-left">
                            </div>
                            <div class="table-data__tool-right">
                                <a href="./admins/new">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>novo administrador</button></a>
                            </div>
                        </div>

                        <div class="row m-t-25">
                            <div class="table-responsive m-b-40">
                                <!-- DATA TABLE -->
                                <table class="table table-borderless table-data3">
                                    <thead class="blue-grey lighten-4">
                                        <tr>
                                            <th>ID</th>
                                            <th>USER</th>
                                            <th>OPÇÕES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < admins.length; i++) { %>
                                            <tr>
                                                <td><%= admins[i]._id %></td>
                                                <td><%= admins[i].username %></td>
                                                <td><a href="/admin/admins/delete/<%= admins[i]._id %>">Deletar</a></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END MAIN CONTENT-->

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Plano Imóveis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->

        </div>
        <!-- END PAGE CONTENT -->

    </div>
    <!-- END PAGE WRAPPER -->

    <% include ../includes/scriptPainel.ejs %>

</body>
