<!DOCTYPE html>
<html lang="pt-br">

<head>

    <% include ../includes/headerPainel.ejs %>

    <!-- Title Page-->
    <title>Novo Boleto</title>

</head>

<body class="animsition">
    <!-- PAGE WRAPPER -->
    <div class="page-wrapper">
        
        <% include ../includes/headerMenus.ejs %>

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <!-- MAIN CONTENT-->
            <section class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="table-responsive m-b-40">
                                

                                <!-- CONTAINER -->
                                <div class="container">
                                    <form action="/admin/boletos/new" method="POST">
                                        <label for="select_cliente">Cliente: </label>
                                        <select name="id_cliente" class="form-control" id="select_cliente">
                                        <% for(var i = 0; i < clientes.length; i++) { %>
                                            <option value="<%= clientes[i]._id %>"><%= clientes[i].username %></option>
                                        <% } %>
                                        </select>
                                        <label for="descricao">Descrição:</label>
                                        <input type="text" name="descricao" class="form-control">
                                        <label for="username">Vencimento:</label>
                                        <input type="date" name="vencimento" class="form-control">
                                        <label for="username">Valor:</label>
                                        <input type="text" name="valor" class="form-control">
                                        <br>
                                        <% include ../includes/fineuploader_boleto.ejs %>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Gravar</button>
                                        <a class="btn btn-primary" href="/admin/boletos">Voltar</a>
                                    </form>
                                </div>
                                <!-- END CONTAINER -->




                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END MAIN CONTENT-->

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Plano Imóveis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>
        <!-- END PAGE CONTENT -->

    </div>
    <!-- END PAGE WRAPPER -->

    <% include ../includes/scriptPainel.ejs %>

</body>
