<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/admin/painel">Admin</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/imoveis">Imóveis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/admins">Administradores</a>
            </li>
        </ul>

        <a class="btn btn-outline-white" href="/login/logout">Logout</a>       
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->