<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4 fixed-bottom">

    <!--Footer Links-->
    <div class="container-fluid text-center ">
        <p>Versão 1.0.0</p>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="/"> Plano Imóveis </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->