<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__logo">
                    <a href="/admin/painel">
                        <img src="/resources/plano-logo.png" alt="Plano Im贸veis" />
                    </a>
                </div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/admin/painel">
                                <i class="fas fa-tachometer-alt"></i>
                                <span class="bot-line"></span>Dashboard</a>
                        </li>
                        <li>
                            <a href="/admin/imoveis">
                                <i class="fas fa-building"></i>
                                <span class="bot-line"></span>Im贸veis</a>
                        </li>
                        <li>
                            <a href="/admin/clientes">
                                <i class="fas fa-users"></i>
                                <span class="bot-line"></span>Clientes</a>
                        </li>
                        <li>
                            <a href="/admin/admins">
                                <i class="fas fa-users"></i>
                                <span class="bot-line"></span>Administradores</a>
                        </li>
                        <li>
                            <a href="/admin/boletos">
                                <i class="fas fa-file"></i>
                                <span class="bot-line"></span>Boletos</a>
                        </li>
                    </ul>
                </div>
                <style>
                .plano-admin-logout {
                    display: block;
                    color: #333;
                    padding: 15px 25px;
                    font-size: 14px;
                }
                .plano-admin-logout a, .plano-admin-logout i {
                    color: #fff;
                }
                .plano-admin-logout a i{
                    line-height: 1;
                    margin-right: 20px;
                    font-size: 18px;
                    vertical-align: middle;
                }
                </style>
                <div class="header__tool">
                    <div class="account-wrap">
                        <div class="plano-admin-logout">
                            <a href="/login/logout">
                                <i class="zmdi zmdi-power"></i>Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- HEADER MOBILE-->
    <header class="header-mobile header-mobile-2 d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="/admin/painel">
                        <img src="/resources/plano-logo.png" alt="Plano Im贸veis" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="/admin/painel">
                            <i class="fas fa-tachometer-alt"></i>
                            <span class="bot-line"></span>Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/imoveis">
                            <i class="fas fa-building"></i>
                            <span class="bot-line"></span>Im贸veis</a>
                    </li>
                    <li>
                        <a href="/admin/clientes">
                            <i class="fas fa-users"></i>
                            <span class="bot-line"></span>Clientes</a>
                    </li>
                    <li>
                        <a href="/admin/admins">
                            <i class="fas fa-users"></i>
                            <span class="bot-line"></span>Administradores</a>
                    </li>
                    <li>
                        <a href="/admin/boletos">
                            <i class="fas fa-file"></i>
                            <span class="bot-line"></span>Boletos</a>
                    </li>
                    <li>
                        <a href="/login/logout">
                            <i class="fas fa-power-off"></i>
                            <span class="bot-line"></span>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE -->