<style>
.instagram{
    border: solid 1px white;
    width: 7%;
    height: 40%;
    float:right;
    margin-right: 5%;
    background-image: url('principal.jpg');
    background: no-repeat center;
}
</style>


<div class="instagram">  
   <h3 style="margin-top: 35px"> Imagem para instagram   </h3>           
</div>