<select name="tipo" class="form-control" id="select_tipo">
    <option value="apartamento">Apartamento</option>
    <option value="casa">Casa</option>
    <option value="casa em condominio">Casa em Condomínio</option>
    <option value="chacara">Chácara</option>
    <option value="cobertura">Cobertura</option>
    <option value="fazenda">Fazenda</option>
    <option value="flat">Flat</option>
    <option value="kitinete">Kitinete</option>
    <option value="loft">Loft</option>
    <option value="sitio">Sítio</option>
    <option value="sobrado">Sobrado</option>
</select>