<select name="tipo" class="form-control" id="select_tipo">
    <option value="Box">Box</option>
    <option value="Casa comercial">Casa comercial</option>
    <option value="Deposito">Deposito</option>
    <option value="Galpão">Galpão</option>
    <option value="Garagem">Garagem</option>
    <option value="Loja">Loja</option>
    <option value="Pavilhão">Pavilhão</option>
    <option value="Predio comercial">Predio comercial</option>
    <option value="Sala comercial">Sala comercial</option>
    <option value="Sala/Conjuntos">Sala/Conjuntos</option>
    <option value="Área">Área</option>
</select>