<select name="bairro" class="form-control" id="select_bairro">
        <option value="aguas claras">Aguas Claras</option>
        <option value="asa norte">Asa Norte</option>
        <option value="asa sul">Asa Sul</option>
        <option value="brazlandia">Brazlândia</option>
        <option value="ceilandia">Ceilândia</option>
        <option value="centro">Centro</option>
        <option value="cruzeiro">Cruzeiro</option>
        <option value="cruzeiro novo">Cruzeiro Novo</option>
        <option value="lago norte">Lago Norte</option>
        <option value="lago sul">Lago Sul</option>
        <option value="ponta negra">Ponta Negra</option>
        <option value="samambaia">Samambaia</option>
        <option value="samambaia norte">Samambaia Norte</option>
        <option value="santa maria">Santa Maria</option>
        <option value="shin">Setor de Habitações Individuais Norte</option>
        <option value="smpw">Setor de Mansões Park Way</option>
        <option value="setor fumal">Setor Fumal</option>
        <option value="shvp">Setor Habitacional Vincente Pires</option>
        <option value="noroeste">Setor Noroeste</option>
        <option value="sudoeste">Setor Sudoeste</option>
        <option value="sig">SIG</option>
        <option value="sobradinho">Sobradinho</option>
        <option value="taguatinga">Taguatinga</option>
        <option value="vicente pires">Vicente Pires</option>
        <option value="vila planalto">Vila Planalto</option>
        <option value="zona industrial">Zona Industrial</option>
</select>