<select name="tipo" class="form-control" id="select_tipo">
    <option value="apartamento">Apartamento</option>
    <option value="casa">Casa</option>
    <option value="casa em condominio">Casa em Condomínio</option>
    <option value="chacara">Chácara</option>
    <option value="cobertura">Cobertura</option>
    <option value="empreendimento">Empreendimento</option>
    <option value="fazenda">Fazenda</option>
    <option value="flat">Flat</option>
    <option value="galpao">Galpão</option>
    <option value="garagem">Garagem</option>
    <option value="kitinete">Kitinete</option>
    <option value="loja">Loja</option>
    <option value="predio comercial">Prédio Comercial</option>
    <option value="sala comercial">Sala Comercial</option>
    <option value="salas conjuntos">Salas/Conjuntos</option>
    <option value="terreno">Terreno</option>
    <option value="outros">Outros</option>
</select>