<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./includes/header.ejs %>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>Comprar</title>
</head>
<script>
    var procedencia = 'null';
    function setProc(proc) {
        procedencia = proc;
        console.log(procedencia);
    }
    function spawnCard(imovel) {
        function UrlExists(url) {
            var http = new XMLHttpRequest();
            http.open('HEAD', url, false);
            http.send();
            return http.status != 404;
        }
        var url = 'img/' + imovel._id + '/' + 'thumb.jpg'
        if(!(UrlExists(url))) {
            url = 'img/default/thumb.jpg'
        }
        var titulo = imovel.titulo;
        var valor = "R$" + imovel.valor;
        var dormitorios = "&nbsp";
        var suites = "";
        var banheiros = "";
        var vagas = "";
        var iptu = "&nbsp";
        var cond = "&nbsp";
        if (imovel.dormitorios !== null && imovel.dormitorios !== undefined) {
            dormitorios = "<i class='fa fa-bed' data-toggle='tooltip' title='Dormitórios'></i>   " + imovel.dormitorios + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.suites !== null && imovel.suites !== undefined) {
            suites = "<i class='fa fa-bed' data-toggle='tooltip' title='Suítes'></i>   " + imovel.suites + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.banheiros !== null && imovel.banheiros !== undefined) {
            banheiros = "<i class='fa fa-shower' data-toggle='tooltip' title='Banheiros'></i>   " + imovel.banheiros + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.vagas !== null && imovel.vagas !== undefined) {
            vagas = "<i class='fa fa-car' data-toggle='tooltip' title='Vagas'></i>   " + imovel.vagas + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.iptu !== null && imovel.iptu !== undefined) {
            iptu = "IPTU: R$" + imovel.iptu;
        }
        if (imovel.condominio !== null && imovel.condominio !== undefined) {
            cond = "COND: R$" + imovel.condominio;
        }
        var card = "<div class='card' style='margin:5px'>" + 
                   "<img class='card-img-top' src='" + url + "' alt='Card image cap'>" +
                   "<div class='card-body'>" +
                   "<h4 class='card-title'><a href='/vendas/" + imovel._id + "'>" + titulo + "</a></h4>" +
                   "<h5 class='card-title'><a>" + valor + "</a></h4>" +
                   "<p class='card-text'>" + dormitorios + suites + banheiros + vagas + "</p>" +
                   "</div>";
        $('#searchResults').append(card);
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    }
    function search() {
        var tipo = $('#select_tipo').val();
        var bairro = $('#select_bairro').val();
        var preco = $('#number_preco').val();
        if(preco === '') preco = "null"
        console.log('Pesquisa recebida: ' + procedencia + ' ' + tipo + ' ' + bairro + ' ' + preco);
        $('#searchResults').empty();
        $.getJSON('/search/vendas/' + procedencia + '&' + tipo + '&' + bairro + '&' + preco, function(jq) {
            for(var i = 0; i < jq.length; i++) {
                console.log(jq[i]);
                spawnCard(jq[i]);
            }
        });
    }
    function searchDestaques() {
        $('#searchResults').empty();
        $.getJSON('/search/vendas/destaques', function(jq) {
            for(var i = 0; i < jq.length; i++) {
                console.log(jq[i]);
                spawnCard(jq[i]);
            }
        });
    }
    function searchOportunidades() {
        $('#searchResults').empty();
        $.getJSON('/search/vendas/oportunidades', function(jq) {
            for(var i = 0; i < jq.length; i++) {
                console.log(jq[i]);
                spawnCard(jq[i]);
            }
        });
    }
    function searchBox(objButton) {
        if($('.submenu').css('display','none')){
            $('.submenu').css('display','contents');
            $('#searchBox').html(objButton.innerText);
            $('#menu button').css('display', 'block');
            $(objButton).css('display', 'none');
        }
    }
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
        searchDestaques();
        $(".radioGroup").click(function () {
            $(".radioGroup").removeClass("active");
            $(this).addClass("active");
            procedencia = event.target.id;
        });
    });
</script>
<style>
    .fundologo {
        display: block;
        background: linear-gradient(to top, transparent, #fbfdfe, transparent);
        margin-top: 15px;
        float:left;
    }
    #header, #menu, #conteudo {
        background-color: #dcdcdc;
    }
    #header .row {
        margin: 20px 0;
    }
    #header #menu-top {
        margin: 10px 0;
        font-size: 20px;
    }
    #header .title-vendas h2 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }
    #header .title-vendas .title {
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        background-color: #dcdcdc;
        padding: 0 10px;
    }
    .span-gray {
        background-color: #bababa;
        font-size: 20px;
        text-align: center;
        padding: 5px 30px;
    }
    #menu {
        border-bottom: 1px solid #808080;
    }
    #menu button {
        display: block;
        background-color: #ff9900;
        margin: 15px 5px;
        border: 0;
        padding: 10px;
        width: 100%;
        border: 2px solid #fff;
    }
    .submenu {
        width: 100%;
        margin: 0;
        display: none;
    }
    .submenu .form-control {
        margin-top: 20px;
    }
    #conteudo {
        margin-top: 20px;
        border-top: 1px solid #808080;
        border: 1px solid #000;
    }
    #searchResults {
        margin: 0 auto;
    }
</style>
<body>

    <!-- CONTENT WRAPER -->
    <div id="content-wraper">
        <!-- CONTAINER FLUID -->
        <div class="container-fluid">


            <!--HEADER-->
            <div id="header" class="row">
                <div class="col-1">
                    <div id="logotopo" align="left">
                        <a href="/"><img class="fundologo" src="images/plano.png"></a>
                    </div>
                </div>
                <div class="col-11">
                    <div class="row justify-content-center">
                        <nav class="nav" id="menu-top">
                            <a class="nav-link" href="#">Quem somos</a>
                            <a class="nav-link" href="#">Nossa franquia virtual</a>
                            <a class="nav-link" href="#">Seja nosso corretor associado</a>
                        </nav>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-9 title-vendas">
                            <h2><span class="title">Vendas</span></h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="span-gray">
                            Faça aqui sua opção de compra
                        </div>
                    </div>
                </div>
            </div>
            <!--END HEADER-->


            <div class="row" id="menu">
                <div class="col-1"></div>
                <div class="col-2">
                    <button type="button" id="construcao" onclick="searchBox(this);">Em Construção</button>
                </div>
                <div class="col-2">
                    <button type="button" id="novo" onclick="searchBox(this);">Novos/Prontos (1ª revenda)</button>
                </div>
                <div class="col-2">
                    <button type="button" id="revenda" onclick="searchBox(this);">Prontos/Revenda</button>
                </div>
                <div class="col-2">
                    <button type="button" id="oportunidades" class="" onclick="searchBox(this);">Oportunidades Únicas</button>
                </div>
                <div class="col-2">
                    <button type="button" id="outros" onclick="searchBox(this);">Outros imóveis</button>
                </div>
                <div class="col-1"></div>
                
                <div class="row submenu vertical-align">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <button type="button" id="searchBox"></button>
                    </div>
                    <div class="col-2">
                        <select name="tipo" class="form-control" id="select_tipo" width="30px">
                            <option value="null" selected>Tipo de Imóvel</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="casa">Casa</option>
                            <option value="casa em condominio">Casa em Condomínio</option>
                            <option value="chacara">Chácara</option>
                            <option value="cobertura">Cobertura</option>
                            <option value="empreendimento">Empreendimento</option>
                            <option value="fazenda">Fazenda</option>
                            <option value="flat">Flat</option>
                            <option value="galpao">Galpão</option>
                            <option value="garagem">Garagem</option>
                            <option value="kitinete">Kitinete</option>
                            <option value="loja">Loja</option>
                            <option value="predio comercial">Prédio Comercial</option>
                            <option value="sala comercial">Sala Comercial</option>
                            <option value="salas conjuntos">Salas/Conjuntos</option>
                            <option value="terreno">Terreno</option>
                            <option value="outros">Outros</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select name="bairro" class="form-control" id="select_bairro">
                            <option value="null" selected>Bairro</option>
                            <option value="aguas claras">Aguas Claras</option>
                            <option value="asa norte">Asa Norte</option>
                            <option value="asa sul">Asa Sul</option>
                            <option value="brazlandia">Brazlândia</option>
                            <option value="ceilandia">Ceilândia</option>
                            <option value="centro">Centro</option>
                            <option value="cruzeiro">Cruzeiro</option>
                            <option value="cruzeiro novo">Cruzeiro Novo</option>
                            <option value="lago norte">Lago Norte</option>
                            <option value="lago sul">Lago Sul</option>
                            <option value="ponta negra">Ponta Negra</option>
                            <option value="samambaia">Samambaia</option>
                            <option value="samambaia norte">Samambaia Norte</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="santa maria">Santa Maria</option>
                            <option value="shin">Setor de Habitações Individuais Norte</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="smpw">Setor de Mansões Park Way</option>
                            <option value="setor fumal">Setor Fumal</option>
                            <option value="shvp">Setor Habitacional Vincente Pires</option>
                            <option value="noroeste">Setor Noroeste</option>
                            <option value="sudoeste">Setor Sudoeste</option>
                            <option value="sig">SIG</option>
                            <option value="sobradinho">Sobradinho</option>
                            <option value="taguatinga">Taguatinga</option>
                            <option value="vicente pires">Vicente Pires</option>
                            <option value="vila planalto">Vila Planalto</option>
                            <option value="zona industrial">Zona Industrial</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control" id="number_preco" placeholder="Valor">
                    </div>
                    <div class="col-1">
                        <button type="button" class="" id="btn_pesquisar" onclick="search();">Buscar</button>
                    </div>
                </div>
            </div>

            
        <!--BARRA BRANCA-->
        <div class="Barra"></div>
        <!--END BARRA BRANCA-->
            

            <div class="row" id="conteudo">
                <div class="col-12">
                    <h1 align="center">Destaques de Vendas</h1>
                </div>
                <div id="searchResults" class="d-flex flex-wrap justify-content-center" style="padding:5px"></div>
            </div>

        </div>
        <!-- END CONTAINER FLUID -->
    </div>
    <!-- END CONTENT WRAPER -->


</body>
</html>